/** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }
body { line-height: 1; box-sizing: border-box; color: #333; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
select { -moz-appearance: none; -webkit-appearance: none; appearance: none; border-radius: 0; border: 0; margin: 0; padding: 0; background: none transparent; vertical-align: middle; font-size: inherit; color: inherit; box-sizing: content-box; }
select::-ms-expand { display: none; }
a { text-decoration: none; color: #aaa; }

body { font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif; }
* { box-sizing: border-box; }
.preload { display: none; }

.swipeIn { animation: swipeIn .8s cubic-bezier(0.16, 1, 0.3, 1); }
.swipeOut { animation: swipeOut .8s cubic-bezier(0.16, 1, 0.3, 1); }
.fallOut { animation: fallOut .5s cubic-bezier(0.36, 0, 0.66, -0.56) forwards; }

@keyframes swipeIn {
  0% { opacity: 0; transform: translate(0, -3vw); }
  100% { opacity: 1; transform: translate(0, 0); }
}
@keyframes swipeOut {
  0% { opacity: 1; transform: translate(0, 0); }
  100% { opacity: 0; transform: translate(3vw, 0); }
}
@keyframes fallOut {
  0% { transform: translate(0, 0); }
	100% { transform: translate(0, 120vh)}
}

.containerTitlePage { padding: 4vw 6vw 0; }
.titlePage { font-size: 4.5vw; }
.tagline { padding: 1.5vw .5vw; font-size: 2vw }

.navGlobal { display: flex; }
.navGlobal li { margin-left: 10px; }
.navGlobal li .contentNavGlobal { padding: 7px 10px; background: #efefef; color: #888; font-size: 1vw; }

[data-barba-namespace="emptyswitchboard"] .navGlobal li [data-screenfunction="emptyswitchboard"],
[data-barba-namespace="dottedLow"] .navGlobal li [data-screenfunction="dottedLow"],
[data-barba-namespace="switchimage"] .navGlobal li [data-screenfunction="switchimage"],
[data-barba-namespace="bindimage"] .navGlobal li [data-screenfunction="bindimage"],
[data-barba-namespace="color"] .navGlobal li [data-screenfunction="color"],
[data-barba-namespace="add"] .navGlobal li [data-screenfunction="add"],
[data-barba-namespace="alloc"] .navGlobal li [data-screenfunction="alloc"],
[data-barba-namespace="console"] .navGlobal li [data-screenfunction="console"]
{ background: #aaa; color: #fff; }


.containerTitlePage + * { margin-top: 40px; }

.demoBinarySwitch { padding: 3vw 6.5vw; }

.crusterSwitch { display: flex; align-items: flex-start; justify-content: space-between; }

.containerPrimeColor { position: relative; display: flex; width: calc(33.3% - 10px);  justify-content: space-between; padding-bottom: 20px; border-bottom: 5px solid #A9B2BB; }
.containerPrimeColor::after { content: 'Red'; text-align: center; display: block; position: absolute; bottom: calc(-5vw); left: 0; width: 100%; padding: 1vw 0; font-size: 2vw; color: #aab; }
.containerPrimeColorR::after { content: 'Red'; }
.containerPrimeColorG::after { content: 'Green'; } 
.containerPrimeColorB::after { content: 'Blue'; }

.containerBitWithIncDec { position: relative; display: flex; width: calc(33.3% - 10px);  justify-content: space-between; padding-bottom: 20px; }

.componentSwitchHex { width: calc(50% - 4px); }

.codeHex { font-size: 3vw; font-weight: bold; color: #aab; }


.componentSwitchHex .codeHex { display: block; width: auto; text-align: center; padding: 10px; }

.seriesSwitch { position: relative; display: flex; align-items: flex-start; justify-content: space-between; width: 100%; }
.seriesSwitch:nth-of-type(2n) { padding-left:0; }
.seriesSwitch:nth-of-type(2n + 1) { padding-right:0; }

.twoBytesPerRow.consoleDemo { padding: 30px; }
.allocDemo .seriesSwitch { padding: 4px; }
.codeHex + .seriesSwitch { margin-top: 10px; }

.seriesSwitch[data-label]::before { position: absolute; left: 2px; top: 0vw; display: inline-block; content: attr(data-label)""; color: #888; padding: 3px 5px; background: #fff; }
.seriesSwitch[data-label] { outline: 1px solid #b33; background: #feb; }
.seriesSwitch[data-label]:first-of-type::before { outline-width: 1px 0 1px 1px; }
.seriesSwitch[data-label="デッドスペース"] { outline: 1px solid #aaa; background: #eee; }
.seriesSwitch[data-task="add"] { outline: 1px solid #26a; background: #cdf; }


.containerSwitch { width: 25%; }

.containerSwitch .contentSwitch { display: block; }
.containerSwitch .contentSwitch:hover { opacity: .5; }
.containerSwitch .contentSwitch::after { content: ''; display: block; padding-top: 135.6%; background: url(../img/switch_denki_dentou_off.png); background-size: 100% auto; }
.containerSwitch .contentSwitch.on::after { background-image: url(../img/switch_denki_dentou_on.png); }

.indicationDigit { display: block; text-align: center; color: #999;padding: 3px 0; }
.indicationAddress { display: block; text-align: center; color: #999;padding: 0 0 5px; }

.demoAddition { width: 50%; margin: 5vw auto 5vw; padding: 0 0 5vw; }
.demoAddition .codeHex { display: none; }
.demoAddition .codeHex + .seriesSwitch { margin-top: 0; }
.demoAddition .containerBitWithIncDec { width: 100%; margin-left: 7vw; padding: 0 5vw 0 0; }
.demoAddition .containerBitWithIncDec .componentSwitchHex { width: 100%; line-height: 1; }

.demoAddition .crusterSwitch.result { margin-top: 1vw; }
.demoAddition .crusterSwitch.result .containerBitWithIncDec { margin-left: 2vw; }

.result .contentSwitch { opacity: .6; pointer-events: none; }

.containerSignCalc { margin-top: -4.8vw; display: flex; align-items: flex-start; padding: .5vw 0 1.5vw; border-bottom: 3px solid #666; }
.containerSignCalc .contentSignCalc { display: block; padding: .7vw 1vw 1vw; font-size: 2vw; border: .2vw solid #bbc; border-radius: 20%; line-height: 1; }
.contentSignCalc:hover { opacity: .5; }

.contentPainted { width: 30vw; height: 10vw; background-color: #000000; }

.containerColor { margin-top: 8vw; }
.containerColor .joinedCode { display: block; margin: auto; padding: 10px 0; text-align: center; }
.containerColor .contentPainted { margin: auto;; }

.containerIncDec { display: flex; margin: 10px 0 0; padding: 0 3px; width: auto; justify-content: space-between; }
.containerIncDec .controlIncDec { display: block; padding: .1vw .7vw .2vw; border: 1px solid #A9B2BB; border-radius: 17%; text-align: center; line-height: 1; font-size: 1.58vw; color: #A9B2BB; transition: background-color .8s cubic-bezier(0.25, 1, 0.5, 1); }
.containerIncDec .controlIncDec:hover { opacity: .5; }


/* 'Openworld Switchboard' */
.twoBytesPerRow { position: relative; display: flex; flex-wrap: wrap; }
.twoBytesPerRow .seriesSwitch { width: 50%; }
.twoBytesPerRow .rid { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #aac; opacity: .4; backdrop-filter: blur(4px); z-index: 1; }
.twoBytesPerRow.consoleDemo .rid { width: calc(100% - 60px); height: calc(100% - 60px); top: 30px; left: 30px; }

.beginShaking {  animation: shaking .17s infinite; transform-origin: center; }
.shaking { animation: shaking .12s infinite; transform-origin: center;  }
.charging { background-color: #fa0; transition: none; }

@keyframes shaking {
	0% { transform: rotate(0deg) translateY(0px); }
	25% { transform: rotate(6deg); }
	75% { transform: rotate(-6deg); }
}

.particle { position: relative; }
.particle::before,
.particle::after { position: absolute; left: 35%; top: 21%; content: ''; display: block; width: 25px; height: 25px; background-position: 0 0; background-size: 100%; opacity: .8;  animation: cubic-bezier(0.87, 0, 0.13, 1); }
.particle::before { width: 15px; height: 15px; background-image: url(../img/small_star7_yellow.png);  animation: particleLeftward .8s; }
.particle::after { background-image: url(../img/small_star7_yellow.png); animation: particleRightward .9s; }

.particle:nth-of-type(4n)::before { animation: particleLeftwardAccent .9s; }
.particle:nth-of-type(3n)::after { animation: particleRightwardAccent .9s; }

@keyframes particleLeftward {
	70% {
		opacity: .8;
	}
	90% {
		transform: translate(-1.2vw, -2vw) rotate(360deg);
	}
	100% {
		transform: translate(-1.2vw, -1.5vw) rotate(520deg);
		opacity: .0;
	}
}

@keyframes particleRightward {
	70% {
		opacity: .8;
	}
	85% {
		transform: translate(1.8vw, -7vw) rotate(480deg);
	}
	100% {
		transform: translate(2.2vw, -6vw) rotate(520deg);
		opacity: .7;
	}
}

@keyframes particleLeftwardAccent {
	70% {
		opacity: .8;
	}
	90% {
		transform: translate(-2vw, -4vw) rotate(360deg);
	}
	100% {
		transform: translate(-2vw, -3vw) rotate(520deg);
		opacity: .0;
	}
}

@keyframes particleRightwardAccent {
	70% {
		opacity: .8;
	}
	85% {
		transform: translate(1.2vw, -9vw) rotate(480deg);
	}
	100% {
		transform: translate(1.5vw, -8vw) rotate(520deg);
		opacity: .7;
	}
}

.swell { display: block; animation: swell .3s; }

@keyframes swell {
	18% {
		transform: scale(1.08);
	}
}


/* モニタ画面モデル */
.sectionScreen { display: flex;  position: relative; width: 40%; align-items: stretch;  }
.sectionScreen .containerScreen { display: flex; align-items: stretch; width: calc(20vw * 1.5); height: 20vw; padding: 1.4vw 1.8vw 3.6vw 1.6vw; background: center center no-repeat url(../img/kaden_tv_wide_frame.png); background-size: 100% auto; }
.containerScreen .contentScreen { height: calc(11vw - 13%); }
.contentScreen { display: block; width: auto; }
.containerScreen .display { background-color: #fff;  width: 100%;  height: auto; display: flex; align-items: center; flex-direction: column; justify-content: center;  }

/* 干支画像プロットデモ */
.demoEto { display: flex; padding: 4vw 6vw 8vw; }
.demoEto .crusterSwitch { width: 40%; }
.demoEto .crusterSwitch .containerBitWithIncDec { width: 100%; }

/* 二進数配列 インクリメント・デクリメント */
.containerCodeDec { display: flex; align-items: center; }
.codeDec { padding: 5px 0; color: #aab; font-size: 2.5vw; }
.codeDec + .trailerCodeDec { font-size: 1.6vw; color: #aab; }

/* コンソール */
.headingConsole { font-weight: bold; font-size: 2.2vw; position: sticky; top: 0; z-index: 3;  padding: 2vw 0 0; }
.containerConsole { display: flex; position: sticky; top: 4vw; width: calc(100% + 4vw); z-index: 3; justify-content: space-between; padding: 0 2vw 4vw; margin-left: -2vw; }
.seriesCommandBoard { justify-content: space-between; margin: 40px 0 0; width: 100%; }
.seriesCommandBoard .commandBoard { height: 0; overflow: hidden;}
.seriesCommandBoard .commandBoard.show { height: auto;; overflow: hidden;}
.containerConsole .sectionScreen { margin-top: 2vw; }

.seriesModeSelect { margin-top: 15px; display: flex; align-items: flex-start; }
.modeSelect { background: #ddd; border: none; cursor: pointer; padding: 5px 10px; margin-right: 2vw; }
.modeSelect:hover { background: #aaa; color: #fff; }

.containerConsole .cmdPallete { margin-top: 1.8vw; width: 25%; padding: 2.5vw 2.8vw 3.8vw; background: #efefef; }

.headingFunction { font-size: 1.8vw; font-weight: bold; }
.valueConsole { display: block; width: 100%; letter-spacing: .3em; border: 1px solid #bbb; border-radius: 5%; padding: 5px; }
.valueConsole[readonly] { border-color: #fff; cursor: default; }
.valueNumeric { text-align: right; }
.componentInputKeyValue { margin-top: 15px; }
.componentInputKeyValue > * { margin-top: 10px; }
.triggerExecTask { display: block; margin: 20px 0 0; width: 100%; padding: 5px 10px; border: none; background: #ddd; cursor: pointer; }
.triggerExecTask:hover { background: #aaa; color: #fff; }

/* ドット絵 */
.containerSeriesDot { display: flex; width: 100%; height: 100%; align-items: stretch; flex-wrap: wrap; justify-content: left; }
.containerSeriesDot .dot { display: block; position: relative; width: 6.25%; height: auto; background: #ccc; overflow: visible; outline: 1px solid #fff; }
.containerSeriesDot .dot::after { display: block; position: relative; content: ''; padding-top: 100%; }
.containerSeriesDot .dot.on { background-color: #333; }
[data-barba-namespace="dottedLow"] .containerConsole { pointer-events: none; }
