/** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }
body { line-height: 1; box-sizing: border-box; color: #333; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
select { -moz-appearance: none; -webkit-appearance: none; appearance: none; border-radius: 0; border: 0; margin: 0; padding: 0; background: none transparent; vertical-align: middle; font-size: inherit; color: inherit; box-sizing: content-box; }
select::-ms-expand { display: none; }
a { text-decoration: none; color: #aaa; }

body {
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
.preload { display: none; }

.containerTitlePage { padding: 4vw 6vw 0; }
.titlePage { font-size: 4.5vw; }
.tagline { padding: 1.5vw .5vw; font-size: 2vw }

.demoBinarySwitch { padding: 3vw 6.5vw; }

.crusterSwitch { display: flex; align-items: flex-start; justify-content: space-between; }

.containerPrimeColor { position: relative; display: flex; width: calc(33.3% - 10px);  justify-content: space-between; padding-bottom: 20px; border-bottom: 5px solid #A9B2BB; }
.containerPrimeColor::after { content: 'Red'; text-align: center; display: block; position: absolute; bottom: calc(-5vw); left: 0; width: 100%; padding: 1vw 0; font-size: 2vw; color: #aab; }
.containerPrimeColorR::after { content: 'Red'; }
.containerPrimeColorG::after { content: 'Green'; } 
.containerPrimeColorB::after { content: 'Blue'; }

.containerBitWithIncDec { position: relative; display: flex; width: calc(33.3% - 10px);  justify-content: space-between; padding-bottom: 20px; }

.componentSwitchHex { width: calc(50% - 4px); }

.codeHex { font-size: 3vw; font-weight: bold; color: #aab; }


.componentSwitchHex .codeHex { display: block; width: auto; text-align: center; padding: 10px; }

.seriesSwitch { display: flex; align-items: flex-start; justify-content: space-between; width: 100%; }
.codeHex + .seriesSwitch { margin-top: 10px; }

.containerSwitch { width: 25%; }

.containerSwitch .contentSwitch { display: block; }
.containerSwitch .contentSwitch:hover { opacity: .5; }
.containerSwitch .contentSwitch::after { content: ''; display: block; padding-top: 135.6%; background: url(../img/switch_denki_dentou_off.png); background-size: 100% auto; }
.containerSwitch .contentSwitch.on::after { background-image: url(../img/switch_denki_dentou_on.png); }

.contentPainted { width: 30vw; height: 10vw; background-color: #000000; }

.containerColor { margin-top: 8vw; }
.containerColor .joinedCode { display: block; margin: auto; padding: 10px 0; text-align: center; }
.containerColor .contentPainted { margin: auto;; }

.containerIncDec { display: flex; margin: 10px 0 0; padding: 0 3px; width: auto; justify-content: space-between; }
.containerIncDec .controlIncDec { display: block; width: 1.2vw; padding: .1vw .7vw .2vw; border: 1px solid #A9B2BB; border-radius: 17%; text-align: center; line-height: 1; font-size: 1.58vw; color: #A9B2BB; transition: background-color .8s cubic-bezier(0.25, 1, 0.5, 1); }
.containerIncDec .controlIncDec:hover { opacity: .5; }

/* 'Openworld Switchboard' */
.twoBytesPerRow { display: flex; flex-wrap: wrap; }
.twoBytesPerRow .seriesSwitch { width: 50%; }

.beginShaking {  animation: shaking .17s infinite; transform-origin: center; }
.shaking { animation: shaking .12s infinite; transform-origin: center;  }
.charging { background-color: #fa0; transition: none; }

@keyframes shaking {
	0% { transform: rotate(0deg) translateY(0px); }
	25% { transform: rotate(6deg); }
	75% { transform: rotate(-6deg); }
}

.particle { position: relative; }
.particle::before,
.particle::after {
	position: absolute;
	left: 35%; top: 21%;
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	background-position: 0 0;
	background-size: 100%;

	opacity: .8;

  animation: cubic-bezier(0.87, 0, 0.13, 1);
}
.particle::before {
	width: 15px;
	height: 15px;
	background-image: url(../img/small_star7_yellow.png);
  animation: particleLeftward .8s;
}
.particle::after {
	background-image: url(../img/small_star7_yellow.png);
  animation: particleRightward .9s;
}

.particle:nth-of-type(4n)::before {
  animation: particleLeftwardAccent .9s;
}
.particle:nth-of-type(3n)::after {
  animation: particleRightwardAccent .9s;
}

@keyframes particleLeftward {
	70% {
		opacity: .8;
	}
	90% {
		transform: translate(-1.2vw, -2vw) rotate(360deg);
	}
	100% {
		transform: translate(-1.2vw, -1.5vw) rotate(520deg);
		opacity: .0;
	}
}

@keyframes particleRightward {
	70% {
		opacity: .8;
	}
	85% {
		transform: translate(1.8vw, -7vw) rotate(480deg);
	}
	100% {
		transform: translate(2.2vw, -6vw) rotate(520deg);
		opacity: .7;
	}
}

@keyframes particleLeftwardAccent {
	70% {
		opacity: .8;
	}
	90% {
		transform: translate(-2vw, -4vw) rotate(360deg);
	}
	100% {
		transform: translate(-2vw, -3vw) rotate(520deg);
		opacity: .0;
	}
}

@keyframes particleRightwardAccent {
	70% {
		opacity: .8;
	}
	85% {
		transform: translate(1.2vw, -9vw) rotate(480deg);
	}
	100% {
		transform: translate(1.5vw, -8vw) rotate(520deg);
		opacity: .7;
	}
}